#storyText {
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;    
}

.pixabay {
    margin: 10px;
    height: 70%;
    width: 80%;    
}

.picture {
    margin: 20px;
    height: 70%;
    width: 80%;  
}

h1 {
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;    
}