#main-picture {
    background-image: url('../images/test-image.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


.btn {
    margin: 8px;
    background-color: black;
}

.btn:hover {
    margin: 8px;
    background-color: #484848;
}

button.btn.toast {
    float: left;
}