
div.contact-container {
    margin-top: 4%;
    margin-left: 10%;  
}

.btn {
    margin: 8px;
    background-color: black;
}                   

.btn:hover {
    margin: 8px;
    background-color: #484848;
}

.button-container{
    margin: 2%;
    float: left;
}

button.btn.toast {
    position: static;
    width: 100px;
    margin: 20px;    
}

h5 {
    font-family: 'Josefin Sans', sans-serif;    
    padding-top: 30px;    
}

@media screen and (max-width: 375px) {
        
        h5 {
            font-size: 20px;  
        }
        
    
    }