#picture {
    background-image: url('../images/pictureFour.jpg');
    min-height: 600px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

footer.page-footer {
    background-color: #F8F8F8;   
}

.page-footer, .container, #footerCopyright {
    font-family: 'Josefin Sans', sans-serif;    
    font-size: 18px;
    color: black;
    background-color: #F8F8F8;
}