
nav {
    font-family: 'Josefin Sans', sans-serif;
}


div.nav-wrapper {
    font-family: 'Josefin Sans', sans-serif;    
}

.nav-wrapper {
    background-color: #F8F8F8;
    font-family: 'Josefin Sans', sans-serif;
}

ul li {
    margin-right: 50px;  
    font-family: 'Josefin Sans', sans-serif;    
}


nav ul li a {
    color: #282828;    
    font-family: 'Josefin Sans', sans-serif;        
}

i.material-icons {
    color: black;
}


