

.nav-wrapper {
    background-color: #F8F8F8;
    font-family: 'Josefin Sans', sans-serif;
}

ul li {
    margin-right: 50px;  
}


nav ul li a {
    color: #282828;    
}

i.material-icons {
    color: black;
    margin-top: -10px;
    margin-bottom: 20px;
}


